.form {
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 280px;
  padding: 12px 16px;
}
.label {
  width: 100%;
  margin-bottom: 4px;
  margin-top: 12px;
}

.field {
}
.error {
  color: red;
}
.btn {
  width: 120px;
  align-self: center;
  margin-top: 12px;
}
